.attendance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);;
}

.attendance-card {
    text-align: center;
}

.attendance-status {
    display: inline-block;
    padding: 5px 15px;
    color: #706f6f;
    background-color: #c2bfbf;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.attendance-date {
    font-size: 28px;
    margin: 10px 0;
}

.attendance-time {
    font-size: 80px;
    font-weight: bold;
    margin: 20px 0;
}

.attendance-actions {
    margin-top: 30px;
}

.btn_start {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 15px 60px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.btn_end,
.btn-break_start,
.btn-break_end {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px 30px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}